.footer {
	background: #878788;
	padding: 15px 0;
	position: relative;
}

.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::after, .footer-container::before {
	content: '';
	display: table;
	clear: both;
}