<aside class="sidenav">
    <div class="container">
        <a class="side-logo" href="#">
            <img src="#" alt="SEAP">
        </a>
        <nav class="side-nav">
            <ul>
                <li><a routerLink= "/dashboard">Dashboard</a></li>
                <li><a routerLink= "/cadastro">Cadastro</a></li>
                <li><a routerLink= "/solicitacoes">Solicitações</a></li>
                <li><a routerLink= "/relatorios">Relátorios</a></li>
                <li><a routerLink= "/sobre">Sobre</a></li>
                <li><a routerLink= "/sair">Sair</a></li>
            </ul>
        </nav>
    </div>
</aside>