.sidenav {
    width: 250px;
    background: #fafbfc;
    padding: 20px;
    float: left;
  }
  .sidenav li a {
    display: block;
    margin: 0 auto 20px auto;
    padding: 20px;
  }
  .sidenav::after, .sidenav::before {
    content: '';
    display: table;
    clear: both;
  }
  

